---
import "../styles/globals.css";
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="./images/favicon-32x32.png" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Frontend Mentor | Social links profile</title>
	</head>
	<body>
		<main class="w-full h-screen flex justify-center lg:items-center">
			<div class="max-w-[387px] w-full bg-darker-grey flex flex-col px-[41.5px] py-[41px] rounded-xl gap-5">
				<div class="flex flex-col items-center text-white w-full">
					<img src="./images/avatar-jessica.jpeg" alt="avatar jessica" class="max-w-[90px] h-auto rounded-full">
					<h1 class="mt-[26px] text-2xl font-semibold">Jessica Randall</h1>
					<h2 class="mt-2 text-green text-sm font-bold">London, United Kingdom</h2>
					<p class="mt-6 text-sm">"Front-end developer and avid reader."</p>
				</div>
				<section class="flex flex-col w-full text-white gap-[15px] text-sm font-semibold text-center">
					<a href="https://github.com/SkivaDev" class="w-full rounded-xl py-4 bg-grey hover:bg-green hover:text-darker-grey">GitHub</a>
					<a href="https://github.com/SkivaDev" class="w-full rounded-xl py-4 bg-grey hover:bg-green hover:text-darker-grey">Frontend Mentor</a>
					<a href="https://github.com/SkivaDev" class="w-full rounded-xl py-4 bg-grey hover:bg-green hover:text-darker-grey">LinkedIn</a>
					<a href="https://github.com/SkivaDev" class="w-full rounded-xl py-4 bg-grey hover:bg-green hover:text-darker-grey">Twitter</a>
					<a href="https://github.com/SkivaDev" class="w-full rounded-xl py-4 bg-grey hover:bg-green hover:text-darker-grey">Instagram</a>
				</section>
			</div>
		</main>
	</body>
</html>
